{% extends 'base.html' %}
  
{% block content %}
    <center><img src= "https://ps.w.org/pie-register/assets/icon-256x256.png?rev=2467686" width="100" height="100" /></center>

  <center><h2>Registrate</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit" class="btn btn-success">Registrate</button>
  </form></center>
{% endblock %}